.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.formContainer {
    display: flex;
    width: 50%;
    height: 100%;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    height: 81px;
    box-sizing: border-box;
}

.button {
    flex-grow: 2;
}

.lessButton {
    margin-right: 0;
}

.textarea {
    font-family: Arial, sans-serif;
    height: calc(100% - 85px);
    background-color: #333;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #92ee1c;
    resize: none;
    padding: 10px;
    font-size: 15px;
    width: 100%;
}
